@model JoyGClient.Models.DishTypeModel

<form asp-controller="BackEnd" asp-action="_AddDishType" data-ajax="true" data-ajax-method="POST">
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Dish Type</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <div id="dvMessage" style="display:none" class="alert alert-danger">
                                <span id="MsgOut">@ViewBag.Message</span>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Name">Dish Type Name</label>
                                    @Html.TextBoxFor(m => m.DishTypeName, new { @class = "form-control" })
                                    <span class="field-validation-valid" data-valmsg-for="DishTypeName" data-valmsg-replace="true"></span>

                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@if (@ViewBag.Message != null)
{
    <script type="text/javascript">
        $(function () {
            $("#dvMessage").show();
        });
    </script>
}

